<p-panel [toggleable]="true">
    <p-header>
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Buscar">   
                <button pButton type="button" icon="fa-search" class="ui-button-secondary"></button>      
            </div>
        </div>
    </p-header>
    <!--<div class="table-responsive">
          <table class="table">
              <tr>
                <td>Id</td>
                <td>Curso</td>
                <td>Duração</td>
              </tr>
  
              <tr *ngFor="let curso of metodoListar" >
                  <td><input type="text" value="{{ curso.id }}" disabled></td>
                  <td><input type="text" value="{{ curso.nome }}" disabled #nomeInput></td>
                  <td><input type="text" value="{{ curso.duracao }}" disabled #duracaoInput></td> 
              </tr>
            </table>
          </div>-->

          <div class="ui-g">
              <div class="ui-g-12">
                <p-dataTable [value]="metodoListar">
                    <p-column field="id" header="Id"></p-column>
                    <p-column field="nome" header="Curso"></p-column>
                    <p-column field="duracao" header="Duracao"></p-column>
                </p-dataTable>
              </div>
          </div>
    <p-footer>
      
    </p-footer>
</p-panel>