<p-panel [toggleable]="true">
    <p-header>

    </p-header>

          <div class="ui-g">
              <div class="ui-g-12">
                <p-dataTable [value]="metodoListar">
                    <p-column field="id" header="Id"></p-column>
                    <p-column field="nome" header="Curso"></p-column>
                    <p-column field="duracao" header="Duracao"></p-column>
                </p-dataTable>
              </div>
          </div>
          
    <p-footer>
      
    </p-footer>
</p-panel>