<p-panel >
  <p-header>
      Header content here
  </p-header>

  <div class="table-responsive">
    <table class="table">
        <tr class="active">
          <td>Id</td>
          <td>Curso</td>
          <td>Duração</td>
          <td width="100"></td>              
          <td width="100"></td>
        </tr>

        <tr *ngFor="let curso of cursos" >
            <td><input type="text" value="{{ curso.id }}" disabled></td>
            <td><input type="text" value="{{ curso.nome }}" #nomeInput></td>
            <td><input type="text" value="{{ curso.duracao }}" #duracaoInput></td>              
            <td><button class="btn btn-danger" (click)="deleteCurso( curso.id )"><h3>Excluir</h3></button></td>
            <td><button type="button" class="btn btn-warning" (click)="alterarCursos( curso.id, nomeInput.value, duracaoInput.value)"><h3>Alterar</h3></button></td>
        </tr>
        
      </table>
    </div>
    
  <p-footer>
      Footer content here
  </p-footer>
</p-panel>

