<h3 class="first">Cursos</h3>
<p-tabView>
    <p-tabPanel header="Adicionar" leftIcon="fa-plus">
        <app-add-cursos (emitirCursoLista)="metodoAddListar($event)"></app-add-cursos>
    </p-tabPanel>
    <p-tabPanel header="Apenas Listar" leftIcon="fa-search">
        <app-grid-cursos [metodoListar]="metodoListar" ></app-grid-cursos>
    </p-tabPanel>
    <p-tabPanel header="Editar ou Excluir" leftIcon="fa-edit">
        <app-grid-completa [metodoListar]="metodoListar" (emitirCursoLista)="metodoAddListar($event)"></app-grid-completa>
    </p-tabPanel>
</p-tabView>





